<span class="span4">
	<%= f.label :title, "Task name" %>
	<%= f.text_field :title, placeholder: "Add title..." %>

	<%= f.label :description, "Description" %>
	<%= f.text_area :description, placeholder: "Add description...", rows: "5" %>
</span>

<span class="span4">
	<%= f.label :priority, "Priority" %>
	<%= f.select :priority, [["No priority", "4"], ["High","1"],["Medium","2"],["Low","3"]] %>

	<%= f.label :deadline, "Deadline" %>
	<%= f.text_field :deadline, class: "datetimepicker", placeholder: "Set deadline" %>

	<%= f.label :reminder, "Reminder" %>
	<%= f.text_field :reminder, class: "datetimepicker", placeholder: "Set reminder" %>
</span>