<% def standardize(datetime)
    return datetime.strftime("%d-%m-%Y %I:%M %p")
end %>

<span class="col-md-4">
	<%= f.label :title, "Task name" %>
	<%= f.text_field :title, placeholder: "Add title..." %>

	<%= f.label :description, "Description" %>
	<%= f.text_area :description, placeholder: "Add description...", rows: "5" %>
</span>

<span class="col-md-4">
	<%= f.label :priority, "Priority" %>
	<%= f.select :priority, [["No priority", "4"], ["High","1"],["Medium","2"],["Low","3"]] %>

	<div class="form-group">
      <%= f.label :deadline, 'Deadline' %>
      <div class="input-group date" id="datetimepicker">
        <%= f.text_field :deadline, class: "form-control", value: (standardize(@task.deadline) unless @task.deadline.nil?), placeholder: "Set deadline..." %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :reminder, 'Reminder' %>
    <div class="input-group date" id="datetimepicker1">
      <%= f.text_field :reminder, class: "form-control", value: (standardize(@task.reminder) unless @task.reminder.nil?), placeholder: "Set reminder..." %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
	
	<%= f.label :email_reminder do %>
		<%= f.check_box :email_reminder %> Receive reminder via email
	<% end %>
</span>