<% priority = ""
		case task.priority 
		when 1
			priority = "High"
		when 2
			priority = "Medium"
		when 3
			priority = "Low"
		else
			priority = "No"
		end
%>

<% def readable(datetime)
	return datetime.strftime('%I:%M %p on %b %d %Y')
end %>

<li>
	<span class="title"><%= task.title.upcase %></span>

	<span class="priority priority_<%= task.priority %>"><%= priority %> priority</span>

	<span class="content"><%= task.description %></span>

	<% unless task.deadline.nil? %>
		<span class="deadline">To be completed before <b><%= readable task.deadline %></b></span><br>
	<% end %>

	<% unless task.reminder.nil? %>
		<span class="reminder">Reminder at <b><%= readable task.reminder %></b></span><br>
	<% end %>

	<span class="timestamp">Created at <%= readable task.created_at %></span><br>

	<span class="timestamp">Updated at <%= readable task.updated_at %></span><br>

	<span class="row">
		<% if current_user?(@user) %>
			<% if task.open? %>

				<%= link_to "Mark Done", markdone_task_path(id: task.id), method: :get, class: "btn btn-xs btn-primary" %>

			<% else %>

				<%= link_to "Mark Open", markopen_task_path(id: task.id), method: :get, class: "btn btn-xs btn-primary" %>

			<% end %>
			
			<%= link_to "Edit task", edit_task_path(id: task.id), method: :get, class: "btn btn-xs btn-primary" %>

			<%= link_to "Delete", task, method: :delete, data: { confirm: "Delete this task?" }, class: "btn btn-xs btn-primary" %>

		<% end %>
	</span>

</li>