<%= provide(:title,"Edit Profile") %>
<h1>Edit Profile</h1>
<div class="row">
	<div class="user_forms">
		<%= form_for(@user) do |f| %>

			<%= render 'shared/error_messages', object: f.object %>

			<%= render 'userfields', f: f %>

			<%= f.submit "Update Profile", class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>