<%= provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section>
			<h1><%= @user.name %></h1>
		</section>
	</aside>
	<%= render 'user_options' %>
</div>
<div>
	<%= render 'sort_options' %>
</div>

<div class="row">
	<aside class="col-md-6">
		<% if @open_tasks.any? && %>
			<h3>Open tasks(<%= @open_tasks.total_entries %>)</h3>
			<ol class="tasks">
				<%= render @open_tasks %>
			</ol>
			<%= will_paginate @open_tasks %>
		<% end %>
	</aside>
	<div class="col-md-6">
		<% if @done_tasks.any? && %>
			<h3>Done tasks(<%= @done_tasks.total_entries %>)</h3>
			<ol class="tasks">
				<%= render @done_tasks %>
			</ol>
			<%= will_paginate @done_tasks %>
		<% end %>
	</div>
</div>