<%= provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section>
			<h1><%= @user.name %></h1>
		</section>
	</aside>
	<button class="btn btn-primary dropdown options_menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><%= link_to "Add task...", addtask_path %></li>
			<li><%= link_to "Edit profile", edit_user_path %></li>
			<li><%= link_to "More..", more_options_user_path %></li>
		</ul>
	</button>
	
</div>
<% sort_hash = {
	"priority" => "Highest priority first",
	"deadline" => "Earliest deadline first",
	"" => "Most recent first"
}		
%>
<div>
	<label style="display: inline;">Showing: </label>
		<%= sort_hash[@user.sort_by] %>
	<label class="sort_buttons_group">Show:
	<%= link_to sort_hash["priority"], sort_user_path(sort_by: "priority"), class: "btn btn-xs btn-default" %>

	<%= link_to sort_hash["deadline"], sort_user_path(sort_by: "deadline"), class: "btn btn-xs btn-default" %>

	<%= link_to sort_hash[""], sort_user_path(sort_by: ""), class: "btn btn-xs btn-default" %>
	</label>
</div>

<div class="row">
	<aside class="col-md-6">
		<% if @open_tasks.any? && %>
			<h3>Open tasks(<%= @open_tasks.total_entries %>)</h3>
			<ol class="tasks">
				<%= render @open_tasks %>
			</ol>
			<%= will_paginate @open_tasks %>
		<% end %>
	</aside>
	<div class="col-md-6">
		<% if @done_tasks.any? && %>
			<h3>Done tasks(<%= @done_tasks.total_entries %>)</h3>
			<ol class="tasks">
				<%= render @done_tasks %>
			</ol>
			<%= will_paginate @done_tasks %>
		<% end %>
	</div>
</div>